root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[configs/gitconfig]
indent_size = 4

[*.{js,jsx,ts}]
; this option just works with prettier, not implemented with editorconfig
max_line_length = 100
indent_style = tab

[*.{go,mod}]
indent_style = tab

[bin]
indent_style = tab

[./bin/sub/*]
indent_style = tab

[*.{diff,md}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[{Makefile,*.mk}]
indent_style = tab
