[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "nvim"]
	path = nvim
	url = https://github.com/adoyle-h/neovim-config.git
[submodule "cheat"]
	path = cheat
	url = https://github.com/adoyle-h/my-command-cheat
