[submodule "dotbot"]
	path = pkgs/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "nvim"]
	path = pkgs/nvim
	url = https://github.com/adoyle-h/neovim-config.git
[submodule "cheat"]
	path = cheat
	url = https://github.com/adoyle-h/my-command-cheat
[submodule "tools/enhancd"]
	path = tools/enhancd
	url = https://github.com/b4b4r07/enhancd
[submodule "pkgs/z.lua"]
	path = pkgs/z.lua
	url = https://github.com/skywind3000/z.lua.git
[submodule "pkgs/bash-it"]
	path = pkgs/bash-it
	url = https://github.com/Bash-it/bash-it.git
